h1 {
	text-align: center;
	font-size: 70px;
}
img {
	width: 50%;
	height: 95px;
}

div {
	background-color: blue;
	width: 60%;
	}
tbody {
	text-align: left;
	}
table {border: 10px solid black;
	width: 50%;
	text-align: left;
}
tr, { 
	border: solid black;
	margin: none;
}
td, th {
	background-color: red;
	color: white;
}
p { 
	color: #0000ff;
	}